<div id="<%= dom_id webpage %>">
  <p>
  <strong>Url:</strong>
  <%= webpage.url %>
  </p>


  <p>
  <strong>head:</strong>
  <%= webpage.head %>
  </p>
  <p>
  <strong>body:</strong>
  <%= webpage.body %>
  </p>
</div>
